Flask
Jinja2
Werkzeug
itsdangerous

# Essential TensorFlow and Keras dependencies
tensorflow
tensorflow-io-gcs-filesystem
keras
tensorboard
tensorboard-data-server
h5py

# Other necessary libraries
numpy
Pillow
requests
